image: registry.your-org.org/aws-cost-exporter:v0.1
svcAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/port: "5000"
  prometheus.io/scheme: "http"
  prometheus.io/path: "/metrics"
podAnnotations:
env:
 METRIC_TODAY_DAILY_COSTS: true
 METRIC_YESTERDAY_DAILY_COSTS: true
 METRIC_MONTH_TO_DATE_COSTS: true
 METRIC_MONTH_FORCASTED_COSTS: true
 QUERY_PERIOD: 1800
